{% extends "homebase.html" %}

{% block title %}{{ images.title }}{% endblock %}
{% block keywords %}{{ images.keywords }}{% endblock %}
{% block description %}{{ images.description }}{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="/category/{{ content.category.id }}/{{ images.category.slug }}">{{images.category}}</a><i class="icon-angle-right"></i></li>
                        <li class="active">{{content.type}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <article>
                        <div class="heading">
                            <h4>{{content.title}}</h4>
                        </div>
                        <div class="clearfix">
                        </div>
                    <div class="row">

                        <div class="tab-content">
                            <div class="tab-pane active" id="one">
                                <p>
                                    <a href="#"><img src="{{content.image.url}}"  style="height: 150px; width: 150px; float: left;" alt=""></a>
                                    {{content.detail | safe}}
                                </p>
                            </div>
                            </div>
                            <div class="row">
                                <div class="span8">
                                    <!-- start flexslider -->

                                    <div class="flexslider">

                                        <ul class="slides">
                                            {% for rs in images %}
                                                <li>
                                                    <img src="{{rs.image.url}}" style="height: 238px; width: 620px " alt="" />
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </div>

                                    <!-- end flexslider -->
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- end article full post -->
                </div>
            </div>
        </div>
        <!-- end tab -->
        </div>


        </div>
    </section>
{% endblock %}