{% extends "homebase.html" %}

{% block title %}Sıkça sorulan sorular{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
    <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
{% endblock %}



{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <!-- Subintro
   ================================================== -->
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="/">Anasayfa</a><i class="icon-angle-right"></i></li>
                        <li class="active">Sıkça sorulan sorula</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span12">

                    <div id="accordion">
                {% for rs in faq %}
                <h3><b>{{rs.question}}</b></h3>
                <div>
                    <p>
                        {{rs.answer}}

                    </p>
                </div>
                {% endfor %}
            </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}