{% extends "homebase.html" %}

{% block title %}iletişim {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}

    <section id="ContactContent">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="content_bottom_left">


                    <div class="single_category wow fadeInDown">

                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="content_bottom_right">
                    <div class="single_bottom_rightbar wow fadeInDown">

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
